{
  "presets": [
    "stage-0",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "IE 8"
          ],
          "node": "7.0.0"
        }
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}